<launch>
  <!-- ===== Top-level args ===== -->
  <arg name="use_real_camera" default="true" />
  <arg name="image_id" default="0" />
  <arg name="folder" default="oak_d_pallet_detect" />
  <arg name="output_dir" default="$(find simod_rolls_detection)/files/output" />

  <arg name="enable_pack_collision_mesh" default="true" />
  <arg name="pack_mesh_root" default="/files/input" />
  <arg name="scenario" default="s1" />
  <arg name="pack_id" default="1" />
  <arg name="pack_mesh_scale" default="0.001" /> 

  <arg name="enable_paddle_insertion_test" default="true" />
  
  <rosparam param="simod_vision_ctrl/paddle_insertion_offset">
      [0.0, 0.090, 0.260, -3.1416, 0.0, 0.0]
  </rosparam>

  <!-- Pipeline selector (true=pallet path, false=roll-pack path) -->
  <arg name="enable_pallet_detection" default="false" />

  <!-- Common frames/topics -->
  <arg name="world_frame" default="plate_center" />
  <arg name="camera_frame" default="arm2_camera_oak_d_pro" />
  <arg name="rgb_topic" default="/oak/rgb/image_raw" />
  <arg name="rgb_info" default="/oak/rgb/camera_info" />
  <arg name="depth_topic" default="/oak/stereo/image_raw" />
  <arg name="depth_info" default="/oak/stereo/camera_info" />

  <!-- Roll-pack reference files + controls -->
  <arg name="ref_image"
    default="$(find simod_rolls_detection)/data/sollevamento_pacchi_reference2.png" />
  <arg name="ref_mask"
    default="$(find simod_rolls_detection)/data/sollevamento_pacchi_reference2_mask.png" />
  <arg name="ref_desc"
    default="$(find simod_rolls_detection)/data/sollevamento_pacchi_reference2_points.txt" />
  <arg name="flip_image" default="true" />

  <param name="simod_vision_ctrl/enable_pack_collision_mesh" value="$(arg enable_pack_collision_mesh)" />
  <param name="simod_vision_ctrl/scenario" value="$(arg scenario)" />
  <param name="simod_vision_ctrl/pack_id" value="$(arg pack_id)" />
  <param name="simod_vision_ctrl/pack_mesh_scale" value="$(arg pack_mesh_scale)" />
   <!-- Camera -->
  <include file="$(find simod_camera)/launch/oak_d_pro.launch" if="$(arg use_real_camera)" />

  <!-- ===== PALLET DETECTION NODE ===== -->
  <node pkg="simod_rolls_detection" type="pallet_detection_node" name="pallet_detection_node"
    output="screen">
    <!-- Camera topics -->
    <param name="depth_image_topic" type="string" value="$(arg depth_topic)" />
    <param name="rgb_image_topic" type="string" value="$(arg rgb_topic)" />
    <param name="camera_info_topic" type="string" value="$(arg depth_info)" />

    <param name="discard_first_camera_frames" type="int" value="50" />

    <param name="depth_hough_threshold" type="int" value="200" />
    <param name="depth_hough_min_length" type="double" value="100" />
    <param name="depth_hough_max_gap" type="double" value="50" />
    <param name="min_plane_camera_distance" type="double" value="0.4" />
    <param name="vertical_line_angle_tolerance" type="double" value="$(eval 3.14 / 10)" />
    <param name="ransac_plane_angle_tolerance" type="double" value="$(eval 5.0 / 180.0 * 3.14)" />
    <param name="ransac_plane_distance_tolerance" type="double" value="0.025" />
    <param name="ransac_plane_inliers_tolerance" type="double" value="0.08" />
    <param name="plane_camera_max_angle" type="double" value="$(eval 60.0 / 180.0 * 3.14)" />
    <param name="depth_image_max_discontinuity_th" type="double" value="0.1" />
    <param name="depth_image_max_vertical_angle" type="double" value="$(eval 80 / 180.0 * 3.14)" />
    <param name="depth_image_normal_window" type="int" value="4" />
    <param name="depth_image_closing_window" type="int" value="10" />
    <param name="min_cluster_points_at_1m" type="double" value="100000" />
    <param name="min_cluster_points" type="int" value="40000" />
    <param name="pillars_merge_threshold" type="double" value="0.05" />
    <param name="planes_similarity_max_angle" type="double" value="$(eval 10.0 / 180 * 3.14)" />
    <param name="planes_similarity_max_distance" type="double" value="0.1" />
    <param name="points_similarity_max_distance" type="double" value="0.1" />
    <param name="max_pose_correction_angle" type="double" value="$(eval 3.0 / 4.0 * 3.14)" />
    <param name="max_pose_correction_distance" type="double" value="2.0" />
    <param name="plane_ransac_iterations" type="int" value="2000" />
    <param name="plane_ransac_max_error" type="double" value="0.1" />

    <param name="world_frame_id" type="string" value="$(arg world_frame)" />
    <param name="tf_camera_frame" type="string" value="$(arg camera_frame)" />
    <param name="tf_base_frame" type="string" value="$(arg world_frame)" />
    <param name="pallet_detect_srv" type="string" value="/detect_pallet" />
    <param name="box_pose_json_path" type="string"
      value="$(arg output_dir)/box0_in_plate_center.json" />

    <param name="initial_guess_filename" type="string"
      value="$(find simod_rolls_detection)/data/$(arg folder)/initial_guess_$(arg image_id).txt" />
    <param name="expected_pallet_filename" type="string"
      value="$(find simod_rolls_detection)/data/oak_d_pallet_detect/expected_pallet_0.txt" />
  </node>

    <!-- ===== ROLL-PACK DETECTION NODE (service: /detect_packs) ===== -->
  <node pkg="simod_rolls_detection" type="roll_pack_detection_node" name="roll_pack_detection_node"
    output="screen">
    <!-- Topics -->
    <param name="depth_image_topic" type="string" value="$(arg depth_topic)" />
    <param name="rgb_image_topic" type="string" value="$(arg rgb_topic)" />
    <param name="camera_info_topic" type="string" value="$(arg depth_info)" />

    <!-- Frames -->
    <param name="world_frame_id" type="string" value="$(arg world_frame)" />
    <param name="camera_frame_id" type="string" value="$(arg camera_frame)" />

    <!-- Service and JSON output -->
    <param name="detect_packs_action" type="string" value="/detect_packs_action" />
    <param name="detect_packs_srv" type="string" value="/detect_packs" />
    <param name="roll_packs_json_path" type="string" value="$(arg output_dir)/roll_packs.json" />

    <param name="discard_first_camera_frames" type="int" value="5" />
    <param name="ransac_iterations" type="int" value="200000" />
    <param name="no_depth" type="bool" value="false" />

    <!-- Reference assets -->
    <param name="reference_image_filename" type="string" value="$(arg ref_image)" />
    <param name="reference_mask_filename" type="string" value="$(arg ref_mask)" />
    <param name="reference_description_filename" type="string" value="$(arg ref_desc)" />
    <param name="flip_image" type="bool" value="$(arg flip_image)" />
  </node>

  <!-- ===== CLOSE LINE DETECTION NODE ===== -->
  <node pkg="simod_rolls_detection" type="close_line_detection_node"
    name="close_line_detection_node" output="screen">
    <param name="world_frame_id" type="string" value="$(arg world_frame)" />
    <param name="camera_frame_id" type="string" value="$(arg camera_frame)" />
    <param name="rgb_image_topic" type="string" value="$(arg rgb_topic)" />
    <param name="camera_info_topic" type="string" value="$(arg rgb_info)" />
    <param name="discard_first_camera_frames" type="int" value="5" />
    <param name="layer_height" type="double" value="0.05" />
    <param name="initial_guess_x" type="double" value="1.57" />
    <param name="initial_guess_y" type="double" value="-0.11" />
    <param name="initial_guess_window_size_x" type="double" value="0.2" />
    <param name="initial_guess_window_size_y" type="double" value="1.0" />
    <param name="mode_basic" type="bool" value="false" />
    <param name="roll_diameter" type="double" value="0.11" />
    <param name="close_line_detect_srv" type="string" value="/detect_close_line" />
    <param name="close_line_points_json_path" type="string"
      value="$(arg output_dir)/close_line_points.json" />
  </node>

  <!-- ===== SIMOD VISION CONTROLLER ===== -->
  <node pkg="simod_rolls_detection" type="simod_vision_ctrl_node" name="simod_vision_ctrl"
    output="screen">
    <rosparam ns="/simod_vision_ctrl" command="load"
      file="$(find simod_rolls_detection)/config/centralized_settings.yaml" />
    <rosparam ns="/simod_vision_ctrl" command="load"
      file="$(find dual_arm_description)/config/description/joint_limits_urdf.yaml" />
    <rosparam ns="/simod_vision_ctrl/arm2" command="load"
      file="$(find dual_arm_description)/config/description/ur10e_2_kinematics_calibration.yaml" />
    <rosparam ns="/simod_vision_ctrl/arm2" command="load"
      file="$(find dual_arm_description)/config/tools/ur10_2_tool.yaml" />

    <param name="rate" value="500" />
    <param name="world_frame_id" value="$(arg world_frame)" />
    <param name="camera_frame_id" value="$(arg camera_frame)" />
    <param name="tf_base_frame" value="$(arg world_frame)" />

    <param name="vision_views_json"
      value="$(find simod_rolls_detection)/files/input/vision_poses.json" />

    <param name="pack_mesh_root" value="$(arg pack_mesh_root)"/>

    <!-- I/O used by the controller -->
    <param name="box_pose_json_path" value="$(arg output_dir)/box0_in_plate_center.json" />
    <param name="roll_packs_json_path" value="$(arg output_dir)/roll_packs.json" />
    <param name="line_json_save_path" value="$(arg output_dir)/close_line_points.json" />

    <!-- Services the controller calls -->
    <param name="pallet_detect_srv" value="/detect_pallet" />
    <param name="rollpacks_detect_srv" value="/detect_packs" />
    <param name="closeline_detect_srv" value="/detect_close_line" />

    <!-- Outputs -->
    <param name="output_dir" value="$(arg output_dir)" />
    <param name="box_pose_out_file" value="$(arg output_dir)/box_pose_out.json" />
    <param name="close_line_out_file" value="$(arg output_dir)/close_line_out.json" />

    <param name="enable_pallet_detection" value="$(arg enable_pallet_detection)" />

    <!-- enable the insertion test -->
    <param name="enable_paddle_insertion_test" value="$(arg enable_paddle_insertion_test)"/>
   
    
  
  </node>

  <!-- parent child rate -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="oak_to_arm2_cam"
        args="0 0 0 0 0 0 arm2_camera_oak_d_pro oak" />
  <!-- If your MoveIt planning frame is agv_footprint, tie it to plate_center -->
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="agv_to_plate"
          args="0 0 0 0 0 0 agv_footprint plate_center"/> -->


</launch>  